* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri/Calibri-LightItalic.eot');
    src: local('./fonts/Calibri/Calibri Light Italic'), local('Calibri-LightItalic'),
        url('./fonts/Calibri/Calibri-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri-LightItalic.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri-LightItalic.woff') format('woff'),
        url('./fonts/Calibri/Calibri-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri/Calibri-Italic.eot');
    src: local('./fonts/Calibri/Calibri Italic'), local('Calibri-Italic'),
        url('./fonts/Calibri/Calibri-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri-Italic.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri-Italic.woff') format('woff'),
        url('./fonts/Calibri/Calibri-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri/Calibri-Light.eot');
    src: local('./fonts/Calibri/Calibri Light'), local('Calibri-Light'),
        url('./fonts/Calibri/Calibri-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri-Light.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri-Light.woff') format('woff'),
        url('./fonts/Calibri/Calibri-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri/Calibri-Bold.eot');
    src: local('./fonts/Calibri/Calibri Bold'), local('Calibri-Bold'),
        url('./fonts/Calibri/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri-Bold.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri-Bold.woff') format('woff'),
        url('./fonts/Calibri/Calibri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri/Calibri.eot');
    src: local('./fonts/Calibri/Calibri'),
        url('./fonts/Calibri/Calibri.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri.woff') format('woff'),
        url('./fonts/Calibri/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri/Calibri-BoldItalic.eot');
    src: local('./fonts/Calibri/Calibri Bold Italic'), local('Calibri-BoldItalic'),
        url('./fonts/Calibri/Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibri/Calibri-BoldItalic.woff2') format('woff2'),
        url('./fonts/Calibri/Calibri-BoldItalic.woff') format('woff'),
        url('./fonts/Calibri/Calibri-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*
<-- COLORS -->
#f26159; - redish
#191919; - gray
#fec00f; - yellow

<-- DESKTOP VERSION REQUEST -->
desktop_example.html
https://stackoverflow.com/questions/21312707/show-full-site-button-to-bypass-css-media-queries

*/
/* ANIMATIONS */
.anim-tada {
    animation-name: tada;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: none;
    
}

.anim-slideOutLeftIN {
    animation-name: slideOutLeft;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.anim-slideOutLeftOUT {
    animation-name: slideOutLeft;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


/* TOPNAV BUTTON */
.button {
    outline-style: none;
    font-size: 40px;
    text-transform: uppercase;
    font-family: Gill Sans MT, Gill Sans, My Gill Sans, sans-serif;
    background-color: transparent;
    border: solid black;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 2px 30px 0 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: background 0.1s 0.05s, color 0.1s 0.05s, transform 0.05s;
    white-space: nowrap;
    overflow: hidden;

    
    /*FIREFOX ZOOM FIX*/
    /* transform: scale(0.9); */
    font-size: 36px;
    margin: 9px 10px 9px 10px;
    padding: 2px 27px 0 27px;


    display: unset;
}

.button.topNav:hover {
    background-color: black;
    color: #fec00f;
}
.button:active {
    transform: scale(0.9);
    transition: 0.2s;
}



.unselectable {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}
li span {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    -o-user-select: all;
    user-select: all;
}


/* BODY */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    /* TURNS OFF SCROLLBAR EVERYWHERE */
    overflow: hidden;
    background-color: #191919;
}

.page-container {
    position: relative;
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-rows: 0 162px calc(100% - 162px - 1.5em) 1.5em;
    padding: 0;
    margin: 0;
    background-color: #191919;        
}


/* HEADER */
.head-wrap {
    display: grid;
    height: 108px;
    grid-template-columns: repeat(12, 1fr);
    background-color: #fec00f;

    position: unset;
    padding: 0;
    
}

.v-shape {
    /* background */
    background-image: url(img/minback-1.png);
    background-repeat: no-repeat;
    background-position: 0 -190px;
    background-size: 100% 215%;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 36px;
    text-decoration: none;
}
.logo:hover .logo-img, .logo:hover .logo-name {
    filter: brightness(85%);
    /* background-color: yellowgreen; */
}
.logo-img {
    width: 100px;
    /*FIREFOX ZOOM FIX*/
    transform: scale(0.9);
    transform-origin: center left;  
}

.logo-name {
    align-self: center;
    margin: 0 24px 7px 9px;
    font-size: 67px;
    font-family: 'Concert One', cursive;
    color: #222222;
    /*FIREFOX ZOOM FIX*/
    transform: scale(0.9);
    transform-origin: center left;  
}

.navigation {
    display: flex;
    align-self: center;
    height: 60%;
    grid-column: auto / 13;
}

#menu-button, #mySidenav, .closeSidenav {
    display: none;
}
/* CONTENT */
.container {
    display: grid;
    font-family: Calibri, sans-serif;
    font-size: 60px;
    color: #fec00f;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);  
}

.title.fancy {
    margin: 0; 
    text-align: center;
    grid-column: 1 / 8;
    grid-row: 2 / -2;
    text-transform: uppercase;
    font-size: 54px;

    justify-self: unset;
}


.hand-img {
    height: 450px;
    margin: 0; 
    grid-column: 8 / 13;
    grid-row: 2 / -2;
    justify-self: unset;
    cursor: pointer;        
}
.popup {
    position: absolute;
    width: 343px;
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}

.timer {
    display: inline;
    font-family: Calibri, sans-serif;
    font-size: 90px;
    color: black;
    background-color: #fec00f;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.timer:active {
    filter: brightness(85%);
}

/* EROR 404 */
.er404-holder {
    display: grid;
    font-family: Calibri, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    grid-column: 2 / -2;
    grid-row:  2 / -3;
    grid-template-areas:
        "er404 text"
        "er404 back";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.er404-big-text {
    grid-area: er404;
    margin: 0 10px 25px 0;
    justify-self: right;
    align-self: center;
    font-size: 285px;

}
.er404-text {
    margin: 0 0 0 10px;
    grid-area: text;
    font-size: 45px;
    align-self: end;

}
.er404-btn {
    grid-area: back;
}




/* BACK BUTTON */
/* .button.back { */
    /* width: 333px; */
    /* height: 80px; */
    /* font-size: 40px; */
    /* color: #fec00f; */
    /* border: solid #fec00f; */
/* } */
/*
.button.back:hover {
    background-color: #fec00f;
    color: black;
}

.button.back:active {
    background-color: #fec00f;
    color: black;
} */

.fas.fa-chevron-circle-left  {
    padding-right: 2%;
}

.WIP {
    align-self: center;
    justify-self: center;
    height: 270px;

    grid-column: 3 / -3;
    grid-row: 2 / -3;
}

/* FOOTER */
.credits {
    display: grid;
    position: absolute;
    bottom: 0;
    height: 1.2em;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-family: Calibri, sans-serif;
    background-color: #fec00f;
    transition: height 0.5s;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1.2em);
    grid-template-areas: 
        "inc inc inc inc"
        ". panelsContainer panelsContainer ."
        ". panelsContainer panelsContainer ."
        ". panelsContainer panelsContainer ."
        ". panelsContainer panelsContainer .";
}
.inc {
    grid-area: inc;
    margin: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.showDetails:visited {
    color: #0000ee;
}
.panelsContainer {
    grid-area: panelsContainer;
    display: grid;
    margin: 0;
    overflow-y: hidden;
    height: 0;
    transition: 0.3s;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1.2em);
    grid-template-areas: 
        "panelContacts panelAddress"
        "panelContacts panelAddress"
        "panelContacts panelAddress"
        "panelContacts panelAddress"
        "panelContacts panelAddress";
}
.panel.contacts {
    display: grid;
    grid-area: panelContacts;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1.2em);
    grid-template-areas:
        "panelTitleContacts"
        "panelTitleContacts"
        "panelTextContacts"
        "panelTextContacts"
        "panelTextContacts";
}
.panel.address {
    display: grid;
    grid-area: panelAddress;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1.2em) ;
    grid-template-areas:
        "panelTitleAddress"
        "panelTitleAddress"
        "panelTextAddress"
        "panelTextAddress"
        "panelTextAddress";
}
.panelTitle {
    align-self: center;
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'Concert One', cursive;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    overflow-y: hidden;
}
.panelTitle.contacts {
    grid-area: panelTitleContacts;
}
.panelTitle.address {
    grid-area: panelTitleAddress;
    
}
.panelText {
    align-self: center;
    background-color: #191919;
    color: white;
    text-align: left;
    padding: 0 8px 0 8px;
    margin: 0 0 0 3px;
    border-radius: 10px;
    list-style: none;
    transition: 0.3s;
    overflow-y: hidden;
    white-space: nowrap;
}

.panelText.contacts {
    grid-area: panelTextContacts;
}
.panelText.address {
    grid-area: panelTextAddress;
}
.mobile {
    display: none;
    align-self: center;
    grid-column: 2 / 4;
}
.closeCredits {
    position: fixed;
    bottom: 6.8em;
    right: 0;
    height: 100%;
    width: 100%;
    /* ## Remove Gray Highlight When Tapping Links in Mobile Safari */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

/* TODO's:
✓ 1) Fix broken hitbox of .closebtn
✓ 2) Add "View desktop" version
  3) Add "View mobile" version
✓ 4) Make tap on background close sidebar
✓ 5) Javascript backend
    a) Log In / Register
    b) Cookies
    c) Datebase
*/
